@import "normalize.css";

:root {
  --primary: rgb(255, 59, 92);
  --primary-opacity-1: rgba(255, 59, 92, 1);
  --darkcolor: rgb(18, 18, 18);
  --dark-gray: rgba(37, 37, 37, 1);
  --text-color: #333;
  --white-color: rgb(255, 255, 255);
  --white-text: rgba(255, 255, 255, 0.9);
  --subtle-white: rgba(255, 255, 255, 0.08);
  --white-opacity-12: rgba(255, 255, 255, 0.12);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --white-opacity-75: rgba(255, 255, 255, 0.75);
  --white-opacity-90: rgba(255, 255, 255, 0.9);
  --white-opacity-1: rgba(255, 255, 255, 1);

  --gray-opacity-50: rgba(136, 136, 136, 0.5);

  --black-opacity-1: rgba(0, 0, 0, 1);

  --light-warm-yellow: rgb(255, 245, 201);

  --font-family: TikTokFont, Arial, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: overlay;
}

body {
  .tippy-box {
    text-align: left;
    height: 37px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 8px;
  }

  .tippy-content {
    padding: 0 9px;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

button,
[role="button"] {
  cursor: pointer;
}

[shape="circle"] {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 1px 1px;
}

[shape="square"] {
  width: 100%;
}

[shape="vertical"] {
  max-width: 692px;
}

[shape="horizontal"] {
  height: unset;
  width: 100%;
}

canvas[shape="square"] {
  width: 100px;
}

canvas[shape="horizontal"] {
  width: 177px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Semibold.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: TikTokDisplayFont;
  src: url("/assets/fonts/TikTokDisplayFont-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(18, 18, 18);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

// scrollbar css
