@import "normalize.css";

:root {
  --primary: rgb(255, 59, 92);
  --primary-opacity-1: rgba(255, 59, 92, 1);
  --darkcolor: rgb(18, 18, 18);
  --darkcolor-opacity-75: rgba(18, 18, 18, 0.75);

  --dark-gray: rgba(37, 37, 37, 1);
  --text-color: #333;
  --white-color: rgb(255, 255, 255);
  --white-text: rgba(255, 255, 255, 0.9);
  --subtle-white: rgba(255, 255, 255, 0.08);
  --white-opacity-08: rgba(255, 255, 255, 0.08);
  --white-opacity-12: rgba(255, 255, 255, 0.12);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --white-opacity-75: rgba(255, 255, 255, 0.75);
  --white-opacity-90: rgba(255, 255, 255, 0.9);
  --white-opacity-1: rgba(255, 255, 255, 1);

  --black-opacity-68: rgba(0, 0, 0, 0.68);

  --gray-opacity-50: rgba(136, 136, 136, 0.5);

  --black-opacity-1: rgba(0, 0, 0, 1);

  --light-warm-yellow: rgb(255, 245, 201);

  --font-family: TikTokFont, Arial, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: overlay;
}

body {
  .tippy-box {
    text-align: left;
    height: 37px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 8px;
  }

  .tippy-content {
    padding: 0 9px;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

button,
[role="button"] {
  cursor: pointer;
}

[shape="circle"] {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 1px 1px;
}

[shape="square"] {
  width: 100%;
  max-height: 100vh;
  max-width: calc(128px + min(-92px + 100vh, 42vw));
}

[shape="vertical"] {
  max-width: 692px;
}

[shape="horizontal"] {
  width: 100%;
  max-width: calc(128px + min(-163.556px + 177.778vh, 60vw));
}

[role="circle"] {
  border-radius: 50%;
}

// canvas[shape="square"] {
//   width: 100px;
// }

// canvas[shape="horizontal"] {
//   width: 177px;
// }

a {
  color: var(--text-color);
  text-decoration: none;
}

@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Semibold.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: TikTokFont;
  src: url("/assets/fonts/TikTokFont-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: TikTokDisplayFont;
  src: url("/assets/fonts/TikTokDisplayFont-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(18, 18, 18);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

.login-modal::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 37);
}

.login-modal::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

/* Đổi màu nền của thông báo */

.rnc__notification-content {
  padding: 10px 8px;
}

.rnc__notification-item--info {
  background-color: rgba(84, 84, 84, 0.92);
  border-left: 8px solid rgba(84, 84, 84, 0.92);

  .rnc__notification-timer {
    background-color: rgb(18, 18, 18);
  }
  .rnc__notification-timer-filler {
    background-color: rgb(37, 37, 37);
  }
  .rnc__notification-close-mark {
    background-color: rgba(84, 84, 84, 0.92);
  }
}
.rnc__notification-message {
  color: var(--white-opacity-50);
  font-family: "TikTokFont";
  font-weight: 700;
  max-width: calc(100% - 15px);
  font-size: 14px;
  line-height: 150%;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
}
