.wrapper {
  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.04);
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
}

.avatar-wrapper {
  position: relative;
  width: 56px;
  height: 56px;
}

.avatar-container {
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-feature-settings: "tnum";
  overflow: hidden;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-mark {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 50%;
}

.info-wrapper {
  padding-left: 12px;
}
.nickname {
  font-size: 16px;
  line-height: 22px;
  min-height: 22px;
  color: rgba(255, 255, 255, 0.9);
  max-width: 224px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}

.extract-time {
  display: flex;
  max-width: 224px;
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  .extract {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .time {
    display: inline-block;
    flex-shrink: 0;
    line-height: 20px;
    min-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 4px;
  }
}
